# Note this file must have a numeric prefix to be considered before 99-default.link
[Match]
OriginalName=eth0
Driver=e1000
# Cannot use Driver=e1000 because systemd udev is not producing ID_NET_DRIVER (from udevadm info /sys/class/net/eth0)
[Link]
Name=nic0
NamePolicy=
[Network]
DHCP=ipv4
